@page
@model FurnitureProduction.Pages.PrivacyModel

@{
    ViewData["Title"] = "Политика конфиденциальности";
}

<h1>Политика конфиденциальности</h1>

<p>Здесь будет текст моей политики конфиденциальности...</p>